.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

.add-password-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: pink;
  width: 60%;
  height: 300px;
  border-radius: 20px;
  margin-top: 20px;
}

.add-password-div button, .add-password-div input {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 7px;
  margin: 10px;
  font-size: 17px;
}

.add-password-div input {
  padding-left: 15px;
}



